<body id="birthday_display">
	<h1 id="birthday_display"> HAPPY BIRTHDAY, GRANDPA!!</h1>
	<div class="span6 offset2">
	<form action="/another_game" method="post">
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<h3>You scored <%= session[:correct] %> correct!</h3>
		<h3>Good Job!</h3>
		<br/>
		<br/>
		<input type="submit" class="btn btn-large btn-primary" value="Play Again?"/>
	</div>
</body>