<body id="correct">
	<div class="span6 offset3">
	<h1>That is correct!</h1>
	<form action="/next_question" method="post">
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<input type="submit" class="btn btn-large btn-primary" value="Continue"/>
	</form>
</div>
</body>