<body id="game">
<div class="span6 offset4">
	<h1>Indiana Jones</h1>
</div>
<div class="span6 offset3">
	<h1>The Birthday Quest</h1>
</div>

<% test = "ENTER" %>
<div class="span6 offset5">
	<form action="/start_game" method="post">
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<input type="submit" class="btn btn-large btn-success" value="ENTER"/>
	</form>
</div>
</body>