<body id="wrong">
	<div class="span6 offset5">
	<h1>"I'm sorry son, they've shot us..."</h1>
	<form action="/next_question" method="post">
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<input type="submit" class="btn btn-large btn-success" value="Continue"/>
	</form>
</div>
</body>